// urlbar suggestions
.urlbarView {
  margin: 0 !important;
  width: 100% !important;
  border-inline: none !important;
}

:root:not([lwtheme]) {
  #urlbar[open] > .urlbarView,
  #urlbar[open] > .urlbarView > .urlbarView-body-outer,
  #urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner,
  #urlbar[open] > .urlbarView .urlbarView-results {
    background: get-var("omnibox-results-background-color") !important;
  }
}

// urlbar suggestions item
.urlbarView-row {
  border-radius: 0 20px 20px 0 !important;
  border: none !important;
  border-inline-start: solid 4px transparent !important;
  background-clip: padding-box !important;
}

:root:not([lwtheme]) {
  // urlbar suggestions item
  .urlbarView-row {
    &[selected] {
      border-inline-start-color: get-var(
        "omnibox-results-focus-color"
      ) !important;
      background-color: get-var(
        "omnibox-results-background-color-hover"
      ) !important;
      color: get-var("omnibox-results-text-color") !important;
    }

    &:not([selected]):hover {
      border-inline-start-color: transparent !important;
      background-color: get-var(
        "omnibox-results-background-color-hover"
      ) !important;
    }
  }

  .urlbarView-title {
    color: get-var("omnibox-results-text-color") !important;

    strong {
      font-weight: 500 !important;
    }
  }
}

[dir="rtl"] {
  .urlbarView-row {
    border-radius: 20px 0 0 20px !important;
  }
}

:root:not([lwtheme]) {
  [dir="rtl"] {
    .urlbarView-row {
      &[selected] {
        border-inline-start-color: get-var(
          "omnibox-results-focus-color"
        ) !important;
      }

      &:not([selected]):hover {
        border-inline-start-color: transparent !important;
      }
    }
  }

  // urlbar suggestions item url
  .urlbarView-url {
    color: get-var("omnibox-results-url-color") !important;
  }

  .urlbarView-title-separator,
  .urlbarView-action,
  .urlbarView-explanation {
    color: get-var("omnibox-results-text-dimmed-color") !important;
  }

  .urlbarView-type-icon {
    fill: get-var("omnibox-results-text-dimmed-color") !important;
  }
}

// urlbar suggestions item left/right padding
.urlbarView-row {
  padding: 0 9px !important;
}

// urlbar suggestions item top/bottom padding
.urlbarView-row-inner {
  padding-block: 9px !important;
  font-size: 14px !important;
}

// hide "This time, search with" bottom panel
.search-one-offs {
  display: none !important;
}

// added url bar suggestions container padding
.urlbarView-results {
  padding-block: 0 8px !important;
}

.urlbarView[noresults="true"] // if no results
{
  .urlbarView-results {
    padding-block: 0 !important;
  }
}

// remove unnecessary border upper url bar suggestions
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-color: transparent !important;
}

// urlbar suggestions item height
.urlbarView-row-inner {
  // min-height: 20px; // (Default) Height with margins equals 38px
  min-height: 22px; // Height with margins equals 40px
}

// hide group titles (eg., Firefox Suggest, Firefox Extension)
.urlbarView-row[label] {
  &::before {
    display: none !important;
  }

  // and remove reserved padding for group titles
  margin-block-start: 0 !important;
}

// hide unwanted suggestions (eg., Firefox Extension and other promotion or recommended items with large height)
// .urlbarView-row[type="dynamic"] {
//   display: none !important;
// }

// hide go buttons for search fields, because if you want use the mouse you can click on first item for search
#urlbar-go-button,
.search-go-button {
  display: none !important;
}

// crop the background of item which out of the results block on hover
.urlbarView-body-outer,
.urlbarView-body-inner {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  overflow: hidden !important;
}

// fix urlbar search tag height
#urlbar-search-mode-indicator {
  height: 100% !important;
}
